---
// @ts-ignore
import { Icon } from "astro-icon/components";
---

<div class="mt-24">
  <h2 class="text-center text-slate-500">Acknowledged by Industry Leaders</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">

    <Icon class="size-8 md:size-12" name="simple-icons:apple" />
    <Icon class="size-8 md:size-12" name="simple-icons:google" />
    <Icon class="size-8 md:size-12" name="simple-icons:windows" />
    <Icon class="size-8 md:size-16" name="simple-icons:samsung" />
    <Icon class="size-8 md:size-16" name="simple-icons:huawei" />
    <Icon class="size-8 md:size-12" name="simple-icons:honor" />
    <Icon class="size-8 md:size-12" name="simple-icons:smartthings" />
    <Icon class="size-8 md:size-12" name="simple-icons:linux" />
    
  </div>
</div>
